.message {
  margin-right: auto;
  margin-left: 10%;
  width: 20%;
  min-width: 100px;
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  width: 30%;
  display: flex;
  min-height: 10vh;
  color: #dd4cb9;
  font-size: min(17px,4vw);
  background: white;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.messageCont{
  display: flex;
  width: 100%
}

.myMes{
  margin-left: auto;
  margin-right: 10%;
  width: 30%;
  display: flex;
  min-width: 100px;
  min-height: 10vh;
  color: white;
  font-size: min(17px, 4vw);
  background: #dd4cb9;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
}