.bodyEdit{
  width: 100%;
  height: 1000px;
  
  
}
.imgCont{
  display: flex;
  margin-top: 9vh;

}
.editAvaBody{
  display: flex;
  margin-bottom: 4vh;
}


.zag{
  color:white;
  font-family: Roboto;
  font-size: 35px;
}

.editButtons{
  width: 32vw;
}
.buttons{
  display: flex;
  margin-top: 15vh;
}
.btnEdit{
  background-color: #FDB5EB;
  border-radius:5px;
  color: white;
  height: 6vw;
  width: 13vw;
  min-width: 100px;
  min-height: 40px;
  font-size: max(13px, min(30px, 2vw));
  cursor: pointer;
}
.btnChoose{
  background-color:white; 
  border-radius:5px;
  color: #FDB5EB;
  font-size: max(13px, min(30px, 2vw));
  height: 6vw;
  width: 13vw;
  min-width: 100px;
  min-height: 40px;
  cursor: pointer;
}
.btnChoosePost{
  background-color:white; 
  border-radius:5px;
  color: #FDB5EB;
 
  
  height: 6vw;
  width: 13vw;
  min-width: 100px;
  min-height: 40px;
  font-size: max(13px, min(30px, 2vw));
  cursor: pointer;
  margin-top: 1vh;
}
.btnEditPost {
  background-color: #FDB5EB;
  border-radius: 5px;
  color: white;
  height: 6vw;
  width: 13vw;
  min-width: 100px;
  min-height: 40px;
  font-size: max(13px,min(30px, 2vw));
  cursor: pointer;
}
.inputText{
  height: 6vw;
  width: 13vw;
  min-width: 100px;
  min-height: 40px;
  font-size: min(30px, 4vw);

}
.editorPost{
  background-color:white;
}
.editorAva{
  background-color:white;
  margin-left: 3vw;
}