.status{
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 39px;
}
.statusCont{
  margin-top: 0;
  margin-bottom: 0;
}
.inpStatus{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 39px;
}