.itemZag img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.item {
  height: max(45vw,450px);
  width: 100%;
  background-color: white;
  margin-bottom: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.itemZag p{
  margin-top: 25px;
  margin-left: 10px;
  font-size: max(10px,min(18px,2vw));
  line-height: 21px;
}
.itemZag{
  padding-top: 5px;
  display: flex;
  border-bottom: 1px solid #000;
}

.imgBack{
  width: 40vw;
  height: calc(40vw * 0.7);
  margin-top: 36px;
  margin-left: 4.5%;
}

.delPost {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: auto;
  padding-top: 0;
  background-color: #FDB5EB;
  width: 40px;
  color: white;
  height: 40px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
}


.likeImg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}


.avatar{
  height: 50px;
  width: 50px;
  
}
.likeContainer{
  display: flex;
  margin-top: 10px;
  margin-left: 4.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

}
.bodyAlert{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.075);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.alertContainer{
  height: 50%;
  width: 40%;
  background-color: azure;
}

.rectification{
  text-align: center;
  font-size: 50px;
  color: #2E93B4;
}
.btnGroup{
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.btnTrue{
  height: 60px;
  width: 120px;
  background: #FDB5EB;
  border-radius: 8px;
  color:white;
  cursor: pointer;
  margin-right: 10px;
}
.btnFalse{
  height: 60px;
  width: 120px;
  background: white;
  border-radius: 8px;
  color:#FDB5EB;
  cursor: pointer;
}
@media (max-width:700px) {
  .imgBack {
    width: 50vw;
    height: calc(50vw * 0.7);
    min-width: 190px;
    min-height: calc(190px* 0.7);
    margin-top: 18px;
    margin-left: 8%;
  }

  .item {
    height: max(250px, 60vw);
    width: 100%;
    background-color: white;
    margin-bottom: 18px;
    
  }

  .delPost {
    height: 30px;
    width: 30px;
  }

  .itemZag img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .itemZag p {
    margin-top: 7px;
    margin-left: 10px;
    font-size: max(10px, min(18px, 2vw));
    line-height: 21px;
  }

  .likeContainer {
    font-size: 14px;
  }
  .likeImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
  }
  .likeSvg{
    width: 15px;
    height: 15px;
  }
}