.dialog {
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.dialogItem {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: min(19px,4vw);
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 3%;
}
.active {
  color: tomato;
}
.dialogImg{
  width: min(50px,10vw);
  height: min(50px, 10vw);
  border-radius: 50%;
}
.icon{
  margin-left: auto;
  margin-right: 5%;
  width: min(40px,8vw);
}